<div class="container">
    <div class="row p-3 bg-primary w-auto">
        <div class="col-md-auto">
            <img src="../favicon.ico" alt="site logo" />
        </div>
        <div class="col text-center">
            <input class="rounded-pill w-100 border-0 p-2" type="search" />
        </div>
        <div class="col col-lg-1">
            test
        </div>
    </div>
    <div class="row">
        <div class="col">
            <post-list></post-list>
        </div>
        <div class="col col-lg-1">
            <user-list></user-list>
        </div>
    </div>
</div>